transformers
transformers[sentencepiece]
datasets
sacrebleu # evolution matrix library
rouge_score 
py7zr # necessary library for transformers
pandas
nltk # NLP library 
tqdm
PyYAML
matplotlib
# torch # i have GPU support
notebook
boto3
mypy-boto3-s3
evaluate
python-box==6.0.2
ensure==1.0.2
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
-e . # for setup.py